<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/members/new" method="post">
    <div class="form-group">
      <label for="userEmail">ID-EMAIL</label>
      <input type="text" id="userEmail" name="userEmail" placeholder="이메일을 입력하세요">
      <label for="userPw">비밀번호</label>
      <input type="password" id="userPw" name="userPw" placeholder="비번을 입력하세요">
      <label>성별</label>
      <input type="radio" name="userGender" value = "m"/>남성
      <input type="radio" name="userGender" value = "f"/>여성
      <label for="userPhone">폰번호</label>
      <input type="text" id="userPhone" name="userPhone" placeholder="폰번호를 입력하세요">
    </div>
    <button type="submit">등록</button>
  </form>
</div> <!-- /container -->
</body>
</html>