.category {
    display: flex;
    height: 80vh;
    margin: 0, auto;

    .category_left {
        width: 300px;
        height: 100%;

        .category_side {
            .side_item {
                border-bottom: 1px solid rgb(209, 208, 208);
                padding: 5%;
                a {
                    display: block;
                }
            }
            .side_title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 3%;
            }

            .pallet {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .color_box {
                    text-align: center;
                    .color {
                        background-color: black;
                        border-radius: 50%;
                        width: 33px;
                        height: 33px;
                        text-indent: -9999rem;
                    }
                    .color_name {
                        font-size: small;
                    }
                }
            }
            .size_list {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;
                .size {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    border-radius: 10%;
                    width: 70px;
                    height: 40px;
                }
            }
        }
    }
    .category_right {
        background-color: darkgreen;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;

        .category_banner {
            background-color: coral;
            height: 30%;

            img {
                width: 100%;
            }
        }
        .category_item {
            background-color: cadetblue;
            height: 70%;
        }
        // .container {
        //     display: flex;
        //     flex-wrap: wrap;
        //     // justify-content: start;
        //     // margin-left: auto;
        //     // margin-bottom: 10%;
        //     gap: 80px;
        //     .pd_box {
        //         width: 100px;
        //         height: 100px;
        //         display: flex;
        //         flex-direction: column;
        //         align-items: center;
        //         .pd_img {
        //             width: 100%;
        //             height: 100%;
        //             .pd_img img {
        //                 // width: 100%;
        //                 // height: 100%;
        //                 // object-fit: cover;
        //             }
        //         }
        //         .pd_info {
        //             text-align: center;
        //         }
        //     }
        // }
    }
}
