.category {
    .color {
        &.red {
            background-color: red;
        }
        &.orange {
            background-color: orange;
        }
        &.yellow {
            background-color: #fed533;
        }
        &.green {
            background-color: green;
        }
        &.blue {
            background-color: blue;
        }
    }
}

.category {
    display: flex;
    margin: 0, auto;
    .category_left {
        position: fixed;
        width: 300px;

        .category_side {
            width: 90%;
            .side_item {
                border-bottom: 1px solid rgb(209, 208, 208);
                padding: 5% 0 5% 10%;
                a {
                    display: block;
                }
                .item_type {
                    font-size: 23px;
                    font-style: italic;
                }
            }
            .side_title {
                display: flex;
                margin-left: -10%;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 3%;
            }

            .price,
            .price_box {
                cursor: pointer;
                margin-top: 10px;
                &:hover {
                    color: rgb(142, 141, 141);
                }
                .price_slider{
                    width: 80%;
                }
                .priceC {
                    span {
                        color: red;
                        font-weight: bolder;
                    }
                }
            }

            .pallet {
                display: flex;
                flex-wrap: wrap;
                padding-left: 5%;
                // justify-content: space-evenly;
                gap: 20px;
                .color_box {
                    text-align: center;
                    &:hover {
                        color: gray;
                    }
                    .color {
                        border-radius: 10%;
                        width: 33px;
                        height: 33px;
                        transition: 0.3s;
                        &.active {
                            position: relative;
                            border-radius: 50%;
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                border-radius: 50%;
                                border: solid 2px gray;
                            }
                        }
                    }
                    .color_name {
                        font-size: small;
                    }
                }
            }
            .size_list {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;
                .size {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(200, 198, 198);
                    border-radius: 10%;
                    width: 70px;
                    height: 40px;
                    &:hover {
                        border: 2px solid rgb(0, 0, 0);
                    }
                    &.active {
                        border: 2px solid rgb(0, 0, 0);
                    }
                }
            }
        }
    }
    .category_right {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;
        margin-left: 22%;

        .category_banner {
            img {
                width: 100%;
            }
        }
        .category_item {
            height: 70%;
        }
        .containerC {
            display: flex;
            flex-wrap: wrap;
            padding-top: 10px;
            padding-left: 5%;
            gap: 50px;
            .pd_box {
                display: flex;
                flex-direction: column;
                align-items: center;
                .pd_img {
                    img {
                        width: 200px;
                        height: 200px;
                    }
                }
                .pd_info {
                    text-align: center;
                }
            }
        }
    }
}
