.detail {
    .text-red {
        color: red;
    }
    .text-gray {
        color: gray;
    }
    .border-top {
        border-top: 1px solid #000;
    }
}

.detail {
    margin-top: 20px;

    .detail_top {
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-wrap: nowrap;

        .detail_top_thumnail {
            width: 70%;
            text-align: center;

            .detail_top_main_thumnail {
                img {
                    height: 600px;
                }
            }
            .detail_top_sub_thumnail {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

                img {
                    height: 200px;
                }
            }
        }
        .detail_top_information {
            width: 30%;
            word-break: keep-all;
            text-align: right;

            .title_box {
                h1 {
                    line-height: 30px;
                }
                h2 {
                    color: gray;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 20px;
                }
            }
            .pirce_box {
                font-size: 20px;
                .discount {
                    font-weight: bold;
                }
                del {
                    color: gray;
                }
                p {
                    font-size: 30px;
                    font-weight: bold;
                }
            }
            .size,
            .color {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                border-bottom: 1px solid #000;
                transition: 0.3s;
                cursor: pointer;

                &.hidden {
                    opacity: 0.3;
                    pointer-events: none;
                }

                span {
                    font-weight: bold;
                    font-size: 20px;
                }
                .select {
                    display: flex;
                    justify-content: end;
                    width: 80%;
                    gap: 5px;

                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 100px;
                        height: 30px;
                        border: 1px solid black;
                        transition: 0.3s;
                        cursor: pointer;

                        &:hover,
                        &.check {
                            background-color: black;
                            color: white;
                        }
                    }
                }
            }

            .buy_box {
                display: flex;
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 50px;
                    border: 1px solid black;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
            }
            .otherInformation {
                margin-top: 20px;

                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid #000;
                    text-align: center;
                    padding: 10px;

                    .title {
                        flex: 2;
                    }
                    .icon {
                        font-size: 20px;
                        flex: 1;
                    }
                }
            }
        }
    }

    .detail_bottom {
        .detail_bottom_header {
            margin: 10px 0;
            border-top: 1px solid #000;
            position: sticky;
            top: 85px;
            transition: 0.5s;
            ul {
                display: flex;
                justify-content: space-evenly;
                background-color: white;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 100%;
                    &.checked {
                        background-color: #000;
                        color: white;
                    }
                }
            }
        }

        .detail_bottom_information {
            background-color: bisque;
        }

        .detail_bottom_review {
            background-color: blue;
        }

        .detail_bottom_Inquiry {
            background-color: crimson;
        }

        .detail_bottom_etc_info {
            background-color: cadetblue;
        }
    }
}
