.mpContainer {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  position: relative;

  a {
    color: black;
  }

  hr {
    height: 1px;
    border: none;
    background-color: rgb(182, 182, 182);
  }

  .myBoard {
    position: relative;
    margin-top: 1.25rem;
    margin-left: 30px;
    margin-bottom: 5rem;
    min-width: 60%;

    .myBoardTitle {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 10px;
      margin-top: 50px;
    }
  }
}

.myListContainer {
  border-right: 1px solid #ececec;
  margin-left: 2.5rem;
  width: 15%;

  .myList {
    margin-top: 1.25rem;

    .hello {
      > li:first-child {
        font-size: 20px;
        font-weight: bold;
      }

      > li:nth-child(2) {
        font-size: 15px;
        margin: 5px 0 20px 0;
      }
    }

    .sideMtitle {
      font-size: 18px;
      font-weight: bold;
      padding-top: 30px;
      border-top: 0.5px solid rgb(202, 202, 202);
    }

    .list {
      font-size: 14px;
      margin: 8px 0 0 20px;

      a {
        color: rgb(179, 179, 179);
        font-weight: bold;
        transition: 0.2s;

        &:hover {
          color: black;
        }
      }
    }

    .list:last-child {
      padding-bottom: 30px;
    }
  }
}

.statusBox {
  min-width: 1000px;
  max-width: 100%;
  display: flex;
  height: auto;

  .box {
    text-align: center;
    width: 100%;
    height: 80px;
    border: 3px solid rgb(182, 182, 182);
    border-left: none;

    p:first-of-type {
      margin-top: 12px;
      font-weight: bold;
      font-size: 22px;
    }
  }

  .box:first-child {
    border-left: 3px solid rgb(182, 182, 182);
  }
}

.myOrderFlow {
  margin-top: 40px;
  width: 100%;
  position: relative;

  .oStepList {
    display: flex;
    height: auto;
    gap: 100px;
    width: 100%;
    padding: 0 20px;

    .oStep {
      padding: 20px 0;

      p {
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        margin-bottom: 10px;
      }

      a {
        display: inline-block;
        background-color: black;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        position: relative;

        .circle {
          color: white;
          font-size: 30px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .arrow {
      width: 100px;
      position: relative;

      .material-symbols-outlined {
        font-size: 80px;
        color: #d1d1d1;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translateX(-50%);
      }
    }
  }
}

.recentList {
  position: relative;
  overflow: hidden;
  padding: 0 1rem;
  width: 63rem;

  ul {
    position: relative;
    padding-left: 50px;
    width: 280%;
    left: 135%;
    transform: translateX(-50%);
    transition: 0.5s;

    li {
      display: inline-block;
      margin-top: 30px;
      margin-right: 60px;
      vertical-align: top;

      .item_img {
        a {
          display: inline-block;
          width: 200px;
          height: 200px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .inputCartBtn {
        border: 1px solid black;
        color: black;
        width: 200px;
        height: 30px;
        margin-top: 5px;
        position: relative;

        a {
          margin-top: 3px;
          font-size: 15px;
          font-weight: bold;
          line-height: auto;
          text-align: center;
          color: black;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

//=== 버튼 스타일

.recentContainer {
  position: relative;

  .btn_back,
  .btn_forward {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.2;
    transition: 0.2s;
  }

  .btn_back {
    right: -1%;
  }
  
  .btn_back:hover {
    right: -1%;
    opacity: 1;
  }

  .btn_forward {
    right: 0%;
  }

  .btn_forward:hover {
    right: 0%;
    opacity: 1;
  }

  .btn_forward > img {
    width: 50px;
    display: block;
  }
  
  .btn_back > img {
    width: 50px;
    display: none;
  }
}

.wishList {
  position: relative;
  overflow: hidden;
  padding: 0 1rem;
  width: 1000px;

  ul {
    position: relative;
    padding-left: 50px;
    width: 280%;
    left: 135%;
    transform: translateX(-50%);
    transition: 0.5s;

    li {
      display: inline-block;
      margin-top: 30px;
      margin-right: 60px;
      vertical-align: top;

      .item_img {
        a {
          display: inline-block;
          width: 200px;
          height: 200px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .inputCartBtn {
        border: 1px solid black;
        color: black;
        width: 200px;
        height: 30px;
        margin-top: 5px;
        position: relative;

        a {
          margin-top: 3px;
          font-size: 15px;
          font-weight: bold;
          line-height: auto;
          text-align: center;
          color: black;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

//=== 버튼 스타일

.wishContainer {
  position: relative;

  .btn_back,
  .btn_forward {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.2;
    transition: 0.2s;
  }

  .btn_back {
    right: -1%;
  }
  
  .btn_back:hover {
    right: -1%;
    opacity: 1;
  }

  .btn_forward {
    right: 0%;
  }
  
  .btn_forward:hover {
    right: 0%;
    opacity: 1;
  }

  .btn_forward > img {
    width: 50px;
    display: block;
  }

  .btn_back > img {
    width: 50px;
    display: none;
  }
}

/* ========================================= */
/* =============    반응형    ============== */
/* ========================================= */

@media (max-width: 768px) {

  // .myListContainer {
  //   display: none;
  // }
}